{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Prestations{% endblock %}

{% block body %}

<div class="container space-top">

    <h1 class="font-weight-light text-center">Prestations</h1><br>

    <div class="row text-center text-lg-left">

      
    </div>
</div>

{% endblock %}