{% extends 'base.html.twig' %}

{% block title %}Portfolio | Cookie Policy{% endblock %}

{% block body %}
<div class="space-top"></div>
<div class="container">
    <h1 class="font-weight-light text-center title-color mt-5">Cookie Policy</h1>
</div>

<div class="container">
    <div class="text-center mt-5">
        <h2 class="title-color">Types of Cookies Used</h2>
        <p>We use the following types of cookies:</p>
            <p>Session cookies: to facilitate your navigation and remember your preferences.</p>
            <p>Analytical cookies: to analyze traffic and site usage.</p><br>
        
        <h2 class="title-color">Purpose of Cookies</h2>
        <p>Cookies are used to enhance your user experience, analyze our traffic, and better understand your needs.</p><br>
        
        <h2 class="title-color">Managing Cookies</h2>
        <p>You can manage or disable cookies through your browser settings. Please note that disabling cookies may affect your browsing experience.</p>
    </div>
</div>
{% endblock %}
