{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Legal Notice{% endblock %}

{% block body %}
<div class="space-top"></div>
<div class="container">
    <h1 class="font-weight-light text-center title-color mt-5">Legal Notice</h1>
</div>

<div class="container">
    <div class="text-center mt-5">
        <h2 class="title-color">Site Publisher</h2>
        <p>Name: Caroline Doe</p>
        <p>Address: 77 rue de Charonne, 75011 Paris</p>
        <p>Phone: 01 23 45 67 89</p>
        <p>Email: contact@carolinedoephotographe.com</p>
        <p>SIRET Number: 123 456 789 00012</p><br>
        <h2 class="title-color">Hosting Provider</h2>
        <p>OVH</p>
        <p>Address: 2 Rue Kellermann, 59100 Roubaix</p>
        <p>Phone: 09 72 10 10 07</p><br>
        <h2 class="title-color">Publication Director</h2>
        <p>Caroline Doe</p><br>
        <h2 class="title-color">Intellectual Property</h2>
        <p>The site and each of its components are the exclusive property of Caroline Doe. Any reproduction or use without prior written consent is strictly prohibited.</p><br>
        <h2 class="title-color">Liability</h2>
        <p>Caroline Doe strives to provide the most accurate information. However, he cannot be held responsible for omissions, inaccuracies, and deficiencies. The site may contain links to other sites over which Caroline Doe has no control.</p>
    </div>
</div>
{% endblock %}
