{% extends 'base.html.twig' %}

{% block title %}Portfolio | Privacy Policy{% endblock %}

{% block body %}
<div class="space-top"></div>
<div class="container">
    <h1 class="font-weight-light text-center title-color mt-5">Privacy Policy</h1>
</div>

<div class="container">
    <div class="text-center mt-5">
        <h2 class="title-color">Data Collected</h2>
        <p>We collect the following data: name, first name, email, IP address, and any other information provided by you via our contact form.</p><br>
        
        <h2 class="title-color">Use of Data</h2>
        <p>The data collected is used solely to respond to your contact requests, improve our services, and, with your consent, send you information about our services.</p><br>
        
        <h2 class="title-color">User Rights</h2>
        <p>You have the right to access, rectify, delete your data, and withdraw your consent at any time. To exercise these rights, contact us at contact@ashleydoephotographe.com.</p><br>
        
        <h2 class="title-color">Data Security</h2>
        <p>We take security measures to protect your personal data against unauthorized access, alteration, disclosure, or destruction.</p>
    </div>
</div>
{% endblock %}
