{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Terms of Use{% endblock %}

{% block body %}
<div class="space-top"></div>
<div class="container">
    <h1 class="font-weight-light text-center title-color mt-5">Terms of Use</h1>
</div>

<div class="container">
    <div class="text-center mt-5">
        <h2 class="title-color">Acceptance of Terms</h2>
        <p>By using this site, you accept these terms of use. If you do not accept these terms, please do not use this site.</p><br>
        
        <h2 class="title-color">Site Use</h2>
        <p>You agree to use this site legally and respectfully. You will not post offensive, defamatory content, or content in violation of the law.</p><br>
        
        <h2 class="title-color">Intellectual Property</h2>
        <p>All photos and content on this site are protected by copyright. Any reproduction, distribution, or use without prior authorization is prohibited.</p><br>
        
        <h2 class="title-color">Limitation of Liability</h2>
        <p>The site owner cannot be held responsible for direct or indirect damages resulting from the use of the site or the inability to access the site.</p>
    </div>
</div>
{% endblock %}
