{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Presentation{% endblock %}

{% block body %}

<div class="container">
     <h1 class="font-weight-light text-center space-top title-color">Presentation</h1>
    <div class="row mt-5 align-items-center">
        <div class="col-lg-6 my-3">
            <img src="{{ asset('img/presentation.jpg') }}" class="img-fluid rounded-circle" alt="Portrait">
        </div>
        <div class="col-lg-6 my-3 d-flex flex-column justify-content-center">
            <div>
                <h2 class="font-weight-normal title-color">I'm Caro, a Weaver of Visual Stories.</h2>
                <p class="mt-4">Based in Paris, I specialize in lifestyle and portrait photography with an approach that blends aesthetic elegance with genuine narratives. My lens is an extension of my eye, always seeking the unspoken stories in everyday moments.</p>
                <ul class="list-unstyled">
                    <li class=" font-mulish"><strong>Experience :</strong> A decade's journey through the camera's eye</li>
                    <li class="mt-3 font-mulish"><strong>Specializations :</strong> Lifestyle encapsulations, emotive portraits, weddings that whisper tales, and landscapes that speak volumes</li>
                    <li class="mt-3 font-mulish"><strong>Philosophy :</strong> Every frame a painting, every shot a living story</li>
                    <li class="mt-3 font-mulish"><strong>Clients :</strong> Individuals and families seeking to immortalize moments, brands with a tale to tell, and anyone in love with the art of photography</li>
                    <li class="mt-3 font-mulish"><strong>Features :</strong> Published in [notable magazines or websites], collaborations with international art collectives</li>
                    <li class="mt-3 font-mulish"><strong>Mission :</strong> To capture the fleeting, to narrate the silent, to paint with light</li>
                    <li class="mt-3 font-mulish"><strong>Let's Connect :</strong> Whether it's your grand event or a quiet slice of life, let's make it timeless together.</li>
                    <a href="{{ path('app_contact') }}" class="btn btn-color mt-4 font-mulish">Contact Me</a>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
