{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Accueil{% endblock %}

{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-pause="false" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active home-s main-photography-1">
            <div class="carousel-caption d-block">
                <h1>First slide label</h1>
            </div>
        </div>
        <div class="carousel-item home-s main-photography-2">
            <div class="carousel-caption d-block">
                <h1>Second slide label</h1>
            </div>
        </div>
        <div class="carousel-item home-s main-photography-3">
            <div class="carousel-caption d-block">
                <h1>Third slide label</h1>
            </div>
        </div>
        <div class="carousel-item home-s main-photography-4">
            <div class="carousel-caption d-block">
                <h1>Fourth slide label</h1>
            </div>
        </div>
        <div class="carousel-item home-s main-photography-5">
            <div class="carousel-caption d-block">
                <h1>Fifth slide label</h1>
            </div>
        </div>
        <div class="carousel-item home-s main-photography-6">
            <div class="carousel-caption d-block">
                <h1>Sixth slide label</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
