{% extends 'base.html.twig' %}

{% block title %}ArtbyCaro | Galerie{% endblock %}

{% block body %}

<div class="container space-top">

    <h1 class="font-weight-light text-center">Galerie</h1><br>

    <div class="row text-center text-lg-left">
{# 
        {% for data in gallery %}
            <div class="col-lg-4 col-md-6 col-12 gallery-s my-2">
                <a href="{{ path( 'theme', {'url': data.url }) }}" class="mb-4 h-100 w-100">
                    <div class="w-100 gallery-i d-flex align-items-center justify-content-center" style="background-image: url('../../gallery-folder/{{ data.photo }}')">
                    <p class="position-absolute gallery-theme">{{ data.portfolio }}</p>
                    </div>
            <!-- <img class="img-fluid size-g" src="/gallery-folder/" alt=""> -->
                </a>
            </div>
        {% endfor %} #}
    </div>
</div>

{% endblock %}