/*       Global      */


html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

.font-philosopher,
h1,
h2,
h5 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700 !important;

}

.font-mulish,
p,
label,
strong,
button {
    font-family: 'Mulish', sans-serif;
    font-weight: 700 !important;
}

p,
label {
    color: #333333;
}

strong,
span,
hr {
    color: #BDA89B;
}

.title-color {
    color: #BDA89B;
}

.link-color {
    color: #FFDFCA
}

.link-color:hover {
    color: #333333
}

.space-top {
    margin-top: 120px;
}


/*      Navbar design      */


.logo {
    z-index: 999;
    position: fixed;
    left: 15px;
}

.logo img {
    height: 60px;

}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 990;
    top: 0;
    left: 0;
}

nav ul {
    line-height: 15px;
    list-style-type: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #333333;
}

nav ul li {
    display: inline-block;
    padding: 20px 20px;
    ;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-icon {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: #333333;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.nav-link {
    color: #BDA89B;
}

.nav-link:hover {
    color: #FFDFCA;
}

.nav-home {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
}

.nav-home:hover {
    color: #333333 !important;
}

nav.nav-background ul {
    background: transparent !important;
}

@media(max-width: 1350px) {

    .logo {
        top: 0px;
    }

    nav ul {
        max-height: 0px;
        height: 100vh;
        background: #333333;
        padding: 0px;
    }

    .home-background {
        background: #BDA89B !important;
    }

    nav.nav-background ul {
        background: #BDA89B !important;
    }

    .showing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        max-height: 92vh;
    }

    nav ul li {
        width: 100vw;
    }

    .menu-icon {
        display: flex;
        justify-content: flex-end;
    }

}

/*      Hero carousel      */

.carousel-item {
    height: 100vh;
}

.carousel-caption h1 {
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.home-s {
    background-size: cover;
    background-position: center;
}

.main-photography-1 {
    background-image: url('/img/landscape1.jpg');
}

.main-photography-2 {
    background-image: url('/img/landscape2.jpg');
}

.main-photography-3 {
    background-image: url('/img/landscape3.jpg');
}

.main-photography-4 {
    background-image: url('/img/landscape4.jpg');
}

.main-photography-5 {
    background-image: url('/img/landscape5.jpg');
}

.main-photography-6 {
    background-image: url('/img/landscape6.jpg');
}

.carousel-item img {
    min-height: 100%;
    min-width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-shadow: 0.5px 0.5px black;
}

/*      Gallery      */

.gallery-theme {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.gallery-s {
    height: 400px;
}

.gallery-i {
    background-size: cover;
    background-position: center;
    height: 100%;
    filter: brightness(75%);
    transition: filter 0.3s ease;
}

.gallery-i:hover {
    filter: brightness(100%);
}

/*   Presentation     */

.btn-color {
    background-color: #FFDFCA;
    color: #333333;
    transition: filter 0.3s ease;
}

.btn-color:hover {
    color: white;
}

/*      Services    */

.card-img-top {
    height: 300px;
    /* ou la hauteur que vous souhaitez */
    object-fit: cover;
    /* couvrir l'espace disponible sans perdre les proportions */
}


/*     Guestbook     */

/* Style pour les éléments de la pagination */
.pagination .page-link {
    border: none;
    /* Supprime le bord */
    color: grey;
    /* Met le texte en noir */
    background-color: transparent;
    /* Aucun fond pour le lien */
}

/* Style pour l'élément de la page active */
.pagination .page-item.active .page-link {
    background-color: transparent;
    /* Fond transparent pour le lien actif */
    color: #333333;
    /* Met le texte en bleu ou la couleur souhaitée pour la page active */
}

/* Style pour le hover */
.pagination .page-link:hover {
    color: grey;
    /* Couleur du texte au survol */
    text-decoration: underline;
    /* Souligne le texte au survol, si désiré */
    background-color: transparent;
    /* Garde le fond transparent au survol */
}

/* Style pour supprimer l'effet de focus */
.pagination .page-link:focus {
    box-shadow: none;
    /* Supprime l'ombre de la boîte pour Bootstrap */
    outline: none;
    /* Supprime le contour pour les navigateurs */
}

/*     Contact     */

.contact-i {
    background-size: cover;
    background-position: center;
    height: 100%;
}

/*     Footer       */

.footer-details {
    color: #BDA89B;
}

.footer-bg {
    background-color: #333333;
}

.footer-link {
    color: #FFDFCA;
}

.footer-link:hover {
    color: #fff;
}

.footer-sn {
    text-decoration: none;
}


/*     Themes      */

.theme {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}

.theme:hover {
    filter: grayscale(0);
}


@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        filter: grayscale(0) brightness(1);
    }
}